body {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 90%;
    
}

.nome{
    background-color: rgb(236, 200, 35);
    color: rgb(179, 69, 42);
    font-size: 30px;
    text-align: center;
}

.titulos{
    background-color: rgb(255, 141, 133);
    color: rgb(255, 21, 21);
    border-bottom: 3px solid rgb(238, 66, 66);
    font-size: 25px;
    text-align: left;
}

span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 79, 79);
    font-size: 12px;
}
